@charset "utf-8";
/* HIVELAB (http://www.hivelab.co.kr) */

/* Noto */
@font-face {
  font-family:'Notokr';
  font-weight: normal;
  src:url(../font/notokr-regular.eot),
    url(../font/notokr-regular.eot?#iefix) format('embedded-opentype'),url(../font/notokr-regular.woff) format('woff'),url(../font/notokr-regular.ttf) format('truetype');
}

@font-face {
  font-family:'Notokr';
  font-weight: 500;
  src:url(../font/notokr-medium.eot),
    url(../font/notokr-medium.eot?#iefix) format('embedded-opentype'),url(../font/notokr-medium.woff) format('woff'),url(../font/notokr-regular.ttf) format('truetype');
}

/* Reset */
html,body{height:100%}
.tcm_wrap button,.tcm_wrap,.tcm_wrap div,.tcm_wrap dl,.tcm_wrap dt,.tcm_wrap dd,.tcm_wrap ul,.tcm_wrap ol,.tcm_wrap li,.tcm_wrap h1,.tcm_wrap h2,.tcm_wrap h3,.tcm_wrap h4,.tcm_wrap h5,.tcm_wrap h6,.tcm_wrap p,.tcm_wrap table,.tcm_wrap th,.tcm_wrap td,.tcm_wrap form,.tcm_wrap fieldset,.tcm_wrap legend,.tcm_wrap textarea,.tcm_wrap input,.tcm_wrap select,.tcm_wrap textarea,.tcm_wrap button,.tcm_wrap article,.tcm_wrap aside,.tcm_wrap section,.tcm_wrap nav,.tcm_wrap main{margin:0;padding:0}
.tcm_wrap article,.tcm_wrap aside,.tcm_wrap section,.tcm_wrap nav,.tcm_wrap main{display:block}

.tcm_wrap h1,.tcm_wrap h2,.tcm_wrap h3,.tcm_wrap h4,.tcm_wrap h5,.tcm_wrap h6{line-height:1.2}

.tcm_wrap, .tcm_wrap input,.tcm_wrap select,.tcm_wrap textarea,.tcm_wrap button{font-family:"Noto Sans CJK", Notokr, 'Malgun Gothic','맑은고딕','Apple SD Gothic Neo',Dotum,'돋움',sans-serif;font-size:12px} 
.tcm_wrap input,.tcm_wrap select,.tcm_wrap textarea,.tcm_wrap button{-webkit-appearance:none;-moz-appearance:none;appearance:none}
.tcm_wrap input::-webkit-contacts-auto-fill-button{display:none!important;visibility:hidden;position:absolute;right:0;pointer-events:none}
.tcm_wrap input::-ms-clear{display:none}
.tcm_wrap input::-ms-reveal{display:none}
.tcm_wrap select::-ms-expand{display:none}

.tcm_wrap fieldset,.tcm_wrap li,.tcm_wrap img{border:0;vertical-align:top}
.tcm_wrap ul,.tcm_wrap ol{list-style:none}
.tcm_wrap button{overflow:visible;border:0;padding:0;border-radius:0;background-color:transparent;font-weight:normal;cursor:pointer;transition:none}
.tcm_wrap button::-moz-focus-inner{padding:0;border:0}
.tcm_wrap address,.tcm_wrap caption,.tcm_wrap em{font-style:normal}
.tcm_wrap caption{padding:0}
.tcm_wrap label{margin:0;cursor:pointer}
.tcm_wrap a,.tcm_wrap a:focus,.tcm_wrap a:active,.tcm_wrap a:hover{text-decoration:none}
.tcm_wrap table{border-collapse:collapse;border-spacing:0}
.tcm_wrap .blind,.tcm_wrap caption span,.tcm_wrap legend{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:1px;line-height:100px;white-space:nowrap}

.tcm_wrap .inp_chk:checked+.inp_label .ico_checkbox:before{display:inline-block;overflow:hidden;background:url(../img/tcm_sp.png) no-repeat;background-size:500px auto;line-height:999px}

.tcm_wrap{min-height:670px;background-color:#f1f3f6;text-align:center;line-height:normal}
.tcm_wrap .content{padding:50px 0 140px;margin:0 auto;font-size:0}

/* 버튼 공통 */
.tcm_wrap .btn_area{margin-top:35px}
.tcm_wrap .btn{display:inline-block;width:139px;height:46px;margin-left:10px;padding:0;border:none;border-radius:3px;background-color:#90929e;font-size:16px;color:#fff;line-height:46px;box-sizing:border-box;cursor:pointer}
.tcm_wrap .btn_point{background-color:#4b96e6}
.tcm_wrap .btn:disabled,.tcm_wrap .disabled{background-color:#ced0da}
.tcm_wrap .btn_area .btn:first-child{margin-left:0}

/* 타이틀 공통 */
.tcm_wrap .title_text{font-size:28px;font-weight:500;color:#313338}

/* 폼 공통 */
.tcm_wrap .form_wrap{display:block;border-radius:4.8px;background-color:#fff;box-shadow:0 1px 3px 0 rgba(0,0,0,0.2);box-sizing:border-box}

/* 텍스트 인풋 공통 */
.tcm_wrap .input_wrap{margin-top:32px}
.tcm_wrap .error_control_area{display:block;position:relative;margin-top:14px}
.tcm_wrap .error_control_area:first-child{margin-top:0}
.tcm_wrap .inp_row{display:-webkit-box;display:-ms-flexbox;display:flex;position:relative}
.tcm_wrap .inp_bx{display:inline-block;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;position:relative}
.tcm_wrap .inp{width:100%;height:100%;padding:1px 13px 0;border-radius:4px;border:solid 1px #ced0da;background-color:#fff;font-size:14px;box-sizing:border-box}
.tcm_wrap .inp::-webkit-input-placeholder{font-size:14px;color:#90929e}
.tcm_wrap .inp::-moz-placeholder{font-size:14px;color:#90929e}
.tcm_wrap .inp:-ms-input-placeholder{font-size:14px;color:#90929e}
.tcm_wrap .inp:-moz-placeholder{font-size:14px;color:#90929e}
.tcm_wrap .inp:disabled{background-color:#f5f5f5;color:#90929e}
.tcm_wrap .inp_row .btn{width:105px;height:100%;margin-left:14px;border-radius:3px;font-size:14px;line-height:24px}

/* 체크박스 공통 */
.tcm_wrap .inp_checkbox{display:inline-block;position:relative;height:24px}
.tcm_wrap .inp_checkbox .inp_chk{position:absolute;top:8px;left:8px;width:1px;height:1px;border-radius:4px}
.tcm_wrap .inp_checkbox:before{display:inline-block;height:100%;vertical-align:middle;content:''}
.tcm_wrap .inp_checkbox .ico_checkbox{display:inline-block;position:relative;z-index:5;width:16px;height:16px;margin:0 8px 0 0;border-radius:4px;border:solid 1px #ced0da;background-image:linear-gradient(to top, #f3f5f8, #feffff);vertical-align:middle;box-sizing:border-box}
.tcm_wrap .inp_checkbox .inp_chk:checked+.inp_label .ico_checkbox{border:solid 1px #27aa13;background-image:linear-gradient(to top, #29b312, #57d842)}
.tcm_wrap .inp_checkbox .inp_chk:checked+.inp_label .ico_checkbox:before{position:absolute;top:50%;left:3px;width:8px;height:8px;margin-top:-3px;background-position:0 -16px;content:''}
.tcm_wrap .inp_checkbox .label_text{display:inline-block;font-size:14px;color:#313338;vertical-align:middle}

/* 유효시간 */
.inp_valid_time .inp{padding-right:110px}
.tcm_wrap .valid_time{position:absolute;right:13px;top:6px;z-index:20;font-size:14px;line-height:24px;color:#313338}
.tcm_wrap .valid_time .time_text{color:#4b96e6}

/* 로그인 영역 */
.tcm_wrap .login_content{width:410px}
.tcm_wrap .form_wrap.login_bx{margin-top:35px;padding:26px 30px 21px;text-align:center}
.tcm_wrap .login_bx .dsc_txt{margin-top:11px;font-size:14px;color:#494e5f}
.tcm_wrap .login_bx .alert_txt{display:block;margin:18px 0 -18px;font-size:12px;color:#f35065}
.tcm_wrap .login_bx .inp_row{height:46px}
.tcm_wrap .login_bx .other_func_area{margin-top:14px;font-size:0;text-align:left}
.tcm_wrap .login_bx .other_func_area .btn_find_pass{float:right;font-size:14px;font-weight:500;line-height:24px;color:#4b96e6}
.tcm_wrap .login_bx .btn_area{margin-top:24px}
.tcm_wrap .login_bx .btn_area .btn{width:100%}
.tcm_wrap .login_bx .signup_link_area{display:block;height:24px;margin-top:17px;line-height:19px;font-size:0}
.tcm_wrap .login_bx .signup_link_area .guide_text{font-size:14px;color:#90929e}
.tcm_wrap .login_bx .signup_link_area .btn_sign_up{margin-left:8px;font-size:14px;font-weight:500;color:#4b96e6}
.tcm_wrap .other_guide_text{margin-top:15px;font-size:14px;line-height:24px;color:#90929e}
.tcm_wrap .other_guide_text .btn_link{font-weight:500;color:#4b96e6}

/* 캡차 영역 */
.tcm_wrap .captcha_wrap{margin-top:17px}
.tcm_wrap .captcha_wrap .guide_text{font-size:14px;color:#494e5f;text-align:left}
.tcm_wrap .captcha_wrap .captcha_area{display:block;display:table;overflow:hidden;width:100%;margin-top:7px;table-layout:fixed}
.tcm_wrap .captcha_wrap .captcha_area .captcha_content{display:table-cell;padding:2px;border-radius:3px;border:solid 1px #ced0da;background-color:#fff;font-size:0;box-sizing:border-box}
.tcm_wrap .captcha_wrap .captcha_area .captcha_img{display:block;overflow:hidden;height:62px;text-align:center}
.tcm_wrap .captcha_wrap .captcha_area .captcha_ctrl{display:table-cell;width:121px;padding-left:8px;font-size:0;vertical-align:top;box-sizing:border-box}
.tcm_wrap .captcha_wrap .captcha_btn{display:block;position:relative;height:30px;margin-top:8px;border-radius:3px;background-color:#467dc6;font-size:0;text-align:center;box-sizing:border-box}
.tcm_wrap .captcha_wrap .captcha_btn:first-child{margin-top:0}
.tcm_wrap .captcha_wrap .captcha_btn:before{display:inline-block;margin-right:7px;vertical-align:middle;content:''}
.tcm_wrap .captcha_wrap .captcha_btn .btn_text{display:inline-block;font-size:12px;line-height:30px;color:#fff;vertical-align:middle}
.tcm_wrap .captcha_wrap .ico_refresh:before{width:12px;height:12px;background-position:-54px 0}
.tcm_wrap .captcha_wrap .ico_voice:before{width:12px;height:14px;background-position:-40px 0}
.tcm_wrap .captcha_wrap .ico_image:before{width:14px;height:14px;background-position:-68px 0}
.tcm_wrap .captcha_wrap .inp_area{height:auto;margin-top:14px}
.tcm_wrap .captcha_wrap.voice .captcha_content{padding-top:9px;text-align:center}
.tcm_wrap .captcha_wrap.voice .captcha_content:before{display:inline-block;width:22px;height:30px;margin:0 auto;background-position:-16px 0;content:''}
.tcm_wrap .captcha_wrap.voice .captcha_content .text{display:block;margin-top:4px;font-size:12px;color:#90929e}

/* 입력 오류시 */
.tcm_wrap .error_control_area.is_error .inp{height:calc(100% + 2px);margin:0 -1px;border:solid 2px #f5a6af}
.tcm_wrap .error_txt{display:none;position:relative;margin-top:5px;padding-left:21px;font-size:12px;line-height:20px;color:#f35065;text-align:left}
.tcm_wrap .error_txt:before{position:absolute;top:50%;left:0;width:16px;height:16px;margin-top:-8px;content:''}
.tcm_wrap .error_control_area.is_error .error_txt{display:block}
.tcm_wrap .error_control_area.is_hide{display:none}
.tcm_wrap .error_control_area.is_hide+.error_control_area{margin-top:0}

/* 툴팁 */
.tcm_wrap .tcm_tooltip{display:none;position:absolute;top:-46px;left:-2px;z-index:50;min-width:203px;max-width:100%;height:38px;padding:7px 18px;border-radius:4px;background-color:#494e5f;text-align:center;box-shadow:0 1px 3px 0 rgba(0,0,0,0.2);box-sizing:border-box}
.tcm_wrap .tcm_tooltip .tooltip_arrow{position:absolute;left:50%;bottom:-5px;width:0;height:0;margin-left:-6px;border-width:6px 6px 0;border-color:transparent;border-style:solid;border-top-color:#494e5f}
.tcm_wrap .tcm_tooltip .tooltip_inner{display:inline-block;overflow:hidden;width:100%;font-size:14px;line-height:24px;color:#fff;white-space:nowrap;box-sizing:border-box;text-overflow:ellipsis}
.tcm_wrap .tcm_tooltip.is_show{display:inline-block}



/* 모바일 */

.is_m .tcm_wrap .inp_chk:checked+.inp_label .ico_checkbox:before{}

.is_m .tcm_wrap{min-height:670px;background-color:#f1f3f6;text-align:center;line-height:normal}
.is_m .tcm_wrap .content{padding:50px 0 140px;margin:0 auto;font-size:0}

/* 버튼 공통 */
.is_m .tcm_wrap .btn_area{margin-top:35px}
.is_m .tcm_wrap .btn{display:inline-block;width:139px;height:46px;margin-left:10px;padding:0;border:none;border-radius:3px;background-color:#90929e;font-size:16px;color:#fff;line-height:46px;box-sizing:border-box;cursor:pointer}
.is_m .tcm_wrap .btn_point{background-color:#4b96e6}
.is_m .tcm_wrap .btn:disabled,.is_m .tcm_wrap .disabled{background-color:#ced0da}
.is_m .tcm_wrap .btn_area .btn:first-child{margin-left:0}

/* 타이틀 공통 */
.is_m .tcm_wrap .title_text{font-size:28px;font-weight:500;color:#313338}

/* 폼 공통 */
.is_m .tcm_wrap .form_wrap{display:block;border-radius:4.8px;background-color:#fff;box-shadow:0 1px 3px 0 rgba(0,0,0,0.2);box-sizing:border-box}

/* 텍스트 인풋 공통 */
.is_m .tcm_wrap .input_wrap{margin-top:32px}
.is_m .tcm_wrap .error_control_area{display:block;position:relative;margin-top:14px}
.is_m .tcm_wrap .error_control_area:first-child{margin-top:0}
.is_m .tcm_wrap .inp_row{display:-webkit-box;display:-ms-flexbox;display:flex;position:relative}
.is_m .tcm_wrap .inp_bx{display:inline-block;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;position:relative}
.is_m .tcm_wrap .inp{width:100%;height:100%;padding:1px 13px 0;border-radius:4px;border:solid 1px #ced0da;background-color:#fff;font-size:14px;box-sizing:border-box}
.is_m .tcm_wrap .inp::-webkit-input-placeholder{font-size:14px;color:#90929e}
.is_m .tcm_wrap .inp::-moz-placeholder{font-size:14px;color:#90929e}
.is_m .tcm_wrap .inp:-ms-input-placeholder{font-size:14px;color:#90929e}
.is_m .tcm_wrap .inp:-moz-placeholder{font-size:14px;color:#90929e}
.is_m .tcm_wrap .inp:disabled{background-color:#f5f5f5;color:#90929e}
.is_m .tcm_wrap .inp_row .btn{width:105px;height:100%;margin-left:14px;border-radius:3px;font-size:14px;line-height:24px}

/* 체크박스 공통 */
.is_m .tcm_wrap .inp_checkbox{display:inline-block;position:relative;height:24px}
.is_m .tcm_wrap .inp_checkbox .inp_chk{position:absolute;top:8px;left:8px;width:1px;height:1px;border-radius:4px}
.is_m .tcm_wrap .inp_checkbox:before{display:inline-block;height:100%;vertical-align:middle;content:''}
.is_m .tcm_wrap .inp_checkbox .ico_checkbox{display:inline-block;position:relative;z-index:5;width:16px;height:16px;margin:0 8px 0 0;border-radius:4px;border:solid 1px #ced0da;background-image:linear-gradient(to top, #f3f5f8, #feffff);vertical-align:middle;box-sizing:border-box}
.is_m .tcm_wrap .inp_checkbox .inp_chk:checked+.inp_label .ico_checkbox{border:solid 1px #27aa13;background-image:linear-gradient(to top, #29b312, #57d842)}
.is_m .tcm_wrap .inp_checkbox .inp_chk:checked+.inp_label .ico_checkbox:before{position:absolute;top:50%;left:3px;width:8px;height:8px;margin-top:-3px;background-position:0 -16px;content:''}
.is_m .tcm_wrap .inp_checkbox .label_text{display:inline-block;font-size:14px;color:#313338;vertical-align:middle}

/* 유효시간 */
.inp_valid_time .inp{padding-right:110px}
.is_m .tcm_wrap .valid_time{position:absolute;right:13px;top:6px;z-index:20;font-size:14px;line-height:24px;color:#313338}
.is_m .tcm_wrap .valid_time .time_text{color:#4b96e6}

/* 로그인 영역 */
.is_m .tcm_wrap .login_content{}
.is_m .tcm_wrap .form_wrap.login_bx{}
.is_m .tcm_wrap .login_bx .dsc_txt{}
.is_m .tcm_wrap .login_bx .alert_txt{}
.is_m .tcm_wrap .login_bx .inp_row{}
.is_m .tcm_wrap .login_bx .other_func_area{}
.is_m .tcm_wrap .login_bx .other_func_area .btn_find_pass{}
.is_m .tcm_wrap .login_bx .btn_area{}
.is_m .tcm_wrap .login_bx .btn_area .btn{}
.is_m .tcm_wrap .login_bx .signup_link_area{}
.is_m .tcm_wrap .login_bx .signup_link_area .guide_text{}
.is_m .tcm_wrap .login_bx .signup_link_area .btn_sign_up{}
.is_m .tcm_wrap .other_guide_text{}
.is_m .tcm_wrap .other_guide_text .btn_link{}

/* 캡차 영역 */
.is_m .tcm_wrap .captcha_wrap{}
.is_m .tcm_wrap .captcha_wrap .guide_text{font-size:14px;color:#494e5f;text-align:left}
.is_m .tcm_wrap .captcha_wrap .captcha_area{display:block;display:table;overflow:hidden;width:100%;margin-top:7px;table-layout:fixed}
.is_m .tcm_wrap .captcha_wrap .captcha_area .captcha_content{display:table-cell;padding:2px;border-radius:3px;border:solid 1px #ced0da;background-color:#fff;font-size:0;box-sizing:border-box}
.is_m .tcm_wrap .captcha_wrap .captcha_area .captcha_img{display:block;overflow:hidden;height:62px;text-align:center}
.is_m .tcm_wrap .captcha_wrap .captcha_area .captcha_ctrl{display:table-cell;width:121px;padding-left:8px;font-size:0;vertical-align:top;box-sizing:border-box}
.is_m .tcm_wrap .captcha_wrap .captcha_btn{display:block;position:relative;height:30px;margin-top:8px;border-radius:3px;background-color:#467dc6;font-size:0;text-align:center;box-sizing:border-box}
.is_m .tcm_wrap .captcha_wrap .captcha_btn:first-child{margin-top:0}
.is_m .tcm_wrap .captcha_wrap .captcha_btn:before{display:inline-block;margin-right:7px;vertical-align:middle;content:''}
.is_m .tcm_wrap .captcha_wrap .captcha_btn .btn_text{display:inline-block;font-size:12px;line-height:30px;color:#fff;vertical-align:middle}
.is_m .tcm_wrap .captcha_wrap .ico_refresh:before{width:12px;height:12px;background-position:-54px 0}
.is_m .tcm_wrap .captcha_wrap .ico_voice:before{width:12px;height:14px;background-position:-40px 0}
.is_m .tcm_wrap .captcha_wrap .ico_image:before{width:14px;height:14px;background-position:-68px 0}
.is_m .tcm_wrap .captcha_wrap .inp_area{height:auto;margin-top:14px}
.is_m .tcm_wrap .captcha_wrap.voice .captcha_content{padding-top:9px;text-align:center}
.is_m .tcm_wrap .captcha_wrap.voice .captcha_content:before{display:inline-block;width:22px;height:30px;margin:0 auto;background-position:-16px 0;content:''}
.is_m .tcm_wrap .captcha_wrap.voice .captcha_content .text{display:block;margin-top:4px;font-size:12px;color:#90929e}

/* 입력 오류시 */
.is_m .tcm_wrap .error_control_area.is_error .inp{height:calc(100% + 2px);margin:0 -1px;border:solid 2px #f5a6af}
.is_m .tcm_wrap .error_txt{display:none;position:relative;margin-top:5px;padding-left:21px;font-size:12px;line-height:20px;color:#f35065;text-align:left}
.is_m .tcm_wrap .error_txt:before{position:absolute;top:50%;left:0;width:16px;height:16px;margin-top:-8px;content:''}
.is_m .tcm_wrap .error_control_area.is_error .error_txt{display:block}
.is_m .tcm_wrap .error_control_area.is_hide{display:none}
.is_m .tcm_wrap .error_control_area.is_hide+.error_control_area{margin-top:0}

/* 툴팁 */
.is_m .tcm_wrap .tcm_tooltip{display:none;position:absolute;top:-46px;left:-2px;z-index:50;min-width:203px;max-width:100%;height:38px;padding:7px 18px;border-radius:4px;background-color:#494e5f;text-align:center;box-shadow:0 1px 3px 0 rgba(0,0,0,0.2);box-sizing:border-box}
.is_m .tcm_wrap .tcm_tooltip .tooltip_arrow{position:absolute;left:50%;bottom:-5px;width:0;height:0;margin-left:-6px;border-width:6px 6px 0;border-color:transparent;border-style:solid;border-top-color:#494e5f}
.is_m .tcm_wrap .tcm_tooltip .tooltip_inner{display:inline-block;overflow:hidden;width:100%;font-size:14px;line-height:24px;color:#fff;white-space:nowrap;box-sizing:border-box;text-overflow:ellipsis}
.is_m .tcm_wrap .tcm_tooltip.is_show{display:inline-block}