@charset "utf-8";
.case_view{display:inline-block;position:fixed;bottom:0;left:0;z-index:1000;width:auto;padding:5px;background:#000;opacity:0.7}
.case_view .btn{display:inline-block;width:auto;height:auto;margin:3px;padding:7px;color:#333;background:#212121;color:#fff;line-height:normal}