@charset "utf-8";
/* HIVELAB (http://www.hivelab.co.kr) */

/* Noto */
@font-face {
  font-family:'Notokr';
  font-weight: normal;
  src:url(../font/notokr-regular.eot),
    url(../font/notokr-regular.eot?#iefix) format('embedded-opentype'),url(../font/notokr-regular.woff) format('woff'),url(../font/notokr-regular.ttf) format('truetype');
}

@font-face {
  font-family:'Notokr';
  font-weight: 500;
  src:url(../font/notokr-medium.eot),
    url(../font/notokr-medium.eot?#iefix) format('embedded-opentype'),url(../font/notokr-medium.woff) format('woff'),url(../font/notokr-regular.ttf) format('truetype');
}

/* Reset */
html,body{height:100%}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,table,th,td,form,fieldset,legend,textarea,input,select,textarea,button,article,aside,dialog,footer,header,section,footer,nav,figure,main{margin:0;padding:0}
article,aside,dialog,footer,header,section,footer,nav,figure,main{display:block}
h1,h2,h3,h4,h5,h6{line-height:1.2;font-weight:500}

body,input,select,textarea,button{font-family:"Noto Sans CJK", Notokr, 'Malgun Gothic','맑은고딕','Apple SD Gothic Neo',Dotum,'돋움',sans-serif;font-size:12px} 
input,select,textarea,button{-webkit-appearance:none;-moz-appearance:none;appearance:none}
input::-webkit-contacts-auto-fill-button,input::-webkit-contacts-auto-fill-button{display:none !important;visibility:hidden;position:absolute;right:0;pointer-events:none}
input::-ms-clear,input::-ms-clear{display:none}
input::-ms-reveal,input::-ms-reveal{display:none}
select::-ms-expand,select::-ms-expand{display:none}

fieldset,li,img{border:0;vertical-align:top}
ul,ol{list-style:none}
button{overflow:visible;border:0;padding:0;border-radius:0;background-color:transparent;font-weight:normal;cursor:pointer;transition:none}
button::-moz-focus-inner,button::-moz-focus-inner{padding:0;border:0}
address,caption,em{font-style:normal}
caption{padding:0}
label{margin:0;cursor:pointer}
a,a:focus,a:active,a:hover{text-decoration:none}
table{border-collapse:collapse;border-spacing:0}
.blind,caption span,legend{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:1px;line-height:100px;white-space:nowrap}
.btn.disabled,.btn:disabled{opacity:1}

.wrap{min-height:670px;background-color:#fff;text-align:center;line-height:normal}
.wrap.is_full_bg{height:100%}
.content{width:400px;margin:0 auto;padding:150px 0 0;font-size:0}
.logo_area img{width:149px;height:47px} 
.form_wrap{display:block;margin-top:20px;text-align:center}
.title_text,.dsc_txt{margin-top:22px;font-size:15px;color:#333;font-weight:normal;line-height:normal}
.title_text+.dsc_txt{margin-top:0}

/* 폼 */
.alert_txt{display:block;margin:23px 0 -19px;font-size:12px;color:#ff0000}
.other_func_area{margin-top:15px;font-size:0;text-align:left}
.other_func_area .btn_find_pass{float:right;font-size:14px;font-weight:normal;line-height:24px;color:#333}
.signup_link_area{display:block;margin-top:18px;font-size:0}
.signup_link_area .guide_text{font-size:14px;color:#999;line-height:1.57}
.btn_link{display:block;margin-top:18px;font-size:14px;line-height:1.57;color:#333}

/* 버튼 공통 */
.btn_area{margin-top:35px}
.btn{display:inline-block;width:100%;height:48px;background-color:#90929e;font-size:15px;color:#fff;line-height:48px;font-weight:500;text-align:center;vertical-align:middle;box-sizing:border-box;cursor:pointer}
.btn_point{background-color:#4b96e6}
.btn:disabled,.disabled{background-color:#ced0da}

/* 텍스트 인풋 공통 */
.input_wrap{margin-top:42px}
.error_control_area{display:block;position:relative;margin-top:18px}
.error_control_area:first-child{margin-top:0}
.inp_row{display:-webkit-box;display:-ms-flexbox;display:flex;position:relative;height:40px}
.inp_bx{display:block;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;position:relative;border-bottom:1px solid #ddd}
.inp{width:100%;height:100%;padding:1px 0 0;border-radius:0;border:0;background-color:#fff;font-size:15px;box-sizing:border-box}
.inp::-webkit-input-placeholder{font-size:15px;color:#bbb}
.inp::-moz-placeholder{font-size:15px;color:#bbb}
.inp:-ms-input-placeholder{font-size:15px;color:#bbb}
.inp:-moz-placeholder{font-size:15px;color:#bbb}

/* 체크박스 공통 */
.inp_checkbox{display:inline-block;position:relative;height:24px}
.inp_checkbox .inp_chk{position:absolute;top:8px;left:8px;width:1px;height:1px}
.inp_checkbox:before{display:inline-block;height:100%;vertical-align:middle;content:''}
.inp_checkbox .ico_checkbox{display:inline-block;position:relative;z-index:5;width:18px;height:18px;margin:0 4px 0 0;border-radius:0;border:solid 1px #ccc;background-color:#fff;vertical-align:middle;box-sizing:border-box}
.inp_checkbox .inp_chk:checked+.inp_label .ico_checkbox{border:0;background:url(../img/ico_checked.png) 0 0 no-repeat;background-size:100% auto}
.inp_checkbox .label_text{display:inline-block;font-size:14px;color:#999;line-height:18px;vertical-align:middle}

/* 입력 오류시 */
.error_txt{display:none;position:relative;font-size:12px;line-height:20px;color:#ff0000;text-align:left}
.error_txt:before{position:absolute;top:50%;left:0;width:16px;height:16px;margin-top:-8px;content:''}
.error_control_area.is_error .error_txt{display:block}

/* 툴팁 */
.tooltip{display:none;position:absolute;top:39px;left:0px;z-index:50;min-width:185px;max-width:100%;height:40px;padding:7px 15px 9px;border:1px solid #aaa;background-color:#fff;text-align:center;box-sizing:border-box}
.tooltip .tooltip_arrow{position:absolute;left:50%;top:-6px;width:11px;height:6px;margin-left:-6px;background:url(../img/tooltip_arrow.png) no-repeat;background-size:100% auto}
.tooltip .tooltip_inner{display:inline-block;overflow:hidden;width:100%;font-size:14px;line-height:24px;color:#000;font-weight:500;white-space:nowrap;box-sizing:border-box;text-overflow:ellipsis}
.tooltip.is_show{display:inline-block}

/* 모바일 */
.is_m{-webkit-text-size-adjust:none}
.is_m .wrap{min-height:auto}
.is_m .content{width:auto;max-width:472px;padding:100px 36px}
.is_m .error_control_area:first-child{margin-top:0}
.is_m .inp_bx{padding:9px 0}
.is_m .inp{height:21px;padding:0;line-height:21px}
.is_m .tooltip.is_show{display:none}